{% extends 'headerBase.html.twig' %}

{% block title %}Contests{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contests') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('contests') }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div style="display: flex;flex-direction: row;justify-content: center">
                    <ul class="nav nav-pills mt-5">
                        <li class="nav-item">
                            <a class="nav-link {% if degla == "Finished Contests" %}active{% endif %}"
                               href="{{ path('contests') }}">Finished</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if degla == "Upcoming Contests" %}active{% endif %}"
                               aria-current="page" href="{{ path('upcoming') }}">Upcoming</a>
                        </li>
                    </ul>
                </div>
                <h1 class="mt-5 mb-3">{{ degla }}
                    <a href="{{ path('create_contest') }}">
                        <button class="btn bg-info float-right" style="color: white;">create contest</button>
                    </a>
                </h1>
                {% if finished %}
                    <table class="table table-hover" id="table">
                        <tr class="table bg-dark" style="color: white">
                            <th scope="row">Title</th>
                            <th scope="row">Start Time</th>
                            <th scope="row">Duration</th>
                        </tr>
                        {% for contest in finished %}
                            {% if contest.isPublished %}
                                <tr>
                                    <td>
                                        <a href="{{ path("contest", {id: contest.id}) }}">
                                            {{ contest.title }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path("contest", {id: contest.id}) }}">
                                            {{ contest.startDate|time_diff }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ path("contest", {id: contest.id}) }}">
                                            {{ contest.duration|duration_helper }}
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                {% else %}
                    <table class="table table-hover">
                        <tr class="table-danger">
                            <th scope="row">No contest was found</th>
                        </tr>
                    </table>
                {% endif %}
                {% if finished %}
                    {{ knp_pagination_render(finished,  'pagination_template.html.twig') }}
                {% endif %}
            </div>
            {# <div class="col-3"> #}
            {# </div> #}
            {# <div class="accordion"> #}
            {# <div class="contentA active"> #}
            {# <div class="label navbar bg-dark" style="margin-top:15px ;color: white ">Upcoming Contests</div> #}
            {# <div class="content"> #}
            {# {% for contest in up %} #}
            {# {% if contest.isPublished %} #}
            {# <a class="dropdown-item" #}
            {# href="{{ path("contest", {id: contest.id}) }}">{{ contest.title }}</a> #}

            {# {% endif %} #}
            {# {% endfor %} #}
            {# </div> #}
            {# </div> #}
            {# </div> #}
            {# <div class="accordion"> #}
            {# <div class="contentA"> #}
            {# <div class="label navbar bg-dark" style="margin-top:15px ;color: white ">Recent Contests</div> #}
            {# <div class="content"> #}
            {# {% for contest in rec %} #}
            {# {% if contest.isPublished %} #}
            {# <a class="dropdown-item" #}
            {# href="{{ path("contest", {id: contest.id}) }}">{{ contest.title }}</a> #}
            {# {% endif %} #}
            {# {% endfor %} #}
            {# </div> #}
            {# </div> #}
            {# </div> #}
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
