{% extends 'headerBase.html.twig' %}

{% block title %}Contests{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('contests') }}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('contests') }}
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <form class="d-flex" id="form" style="margin-top: 15px" method="get">
                    <input class="form-control" type="text" id="title" placeholder="Search for contest" name="title"  value="{{ app.request.get('title') }}">
                    <button type="submit" class="btn  bg-dark" id="button" style="color: white">Search</button>
                </form>
                {% if contests %}
                    <table class="table table-hover" id="table">
                        <tr class="table bg-dark" style="color: white">
                            <th scope="row">Title</th>
                            <th scope="row">Start Time</th>
                            <th scope="row">Duration</th>
                        </tr>
                        {% for contest in contests %}
                            {% if contest.isPublished %}
                            <tr>
                                    <td>
                                        <a href="{{ path("contest", {id: contest.id}) }}">
                                        {{ contest.title }}
                                        </a>
                                </td>
                                <td>
                                    <a href="{{ path("contest", {id: contest.id}) }}">
                                        {{ contest.startDate|time_diff }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path("contest", {id: contest.id}) }}">
                                    {{ contest.duration|duration_helper }}
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                {% else %}
                    <table class="table table-hover">
                        <tr class="table-danger">
                            <th scope="row">No contest was found</th>
                        </tr>
                    </table>
                {% endif %}
                {% if contests %}
                {{ knp_pagination_render(contests,  'pagination_template.html.twig') }}
                {% endif %}
            </div>
            <div class="col-3">
                <div class="pt-2">
                    <a href="{{ path('create_contest') }}" >
                        <button class="btn bg-info" style="color: white;width: 100%;">create contest</button>
                    </a>
                </div>
                <div class="accordion">
                    <div class="contentA active">
                        <div class="label navbar bg-dark" style="margin-top:15px ;color: white ">Upcoming Contests</div>
                        <div class="content">
                            {% for contest in up %}
                                {% if contest.isPublished %}
                                <a class="dropdown-item"
                                   href="{{ path("contest", {id: contest.id}) }}">{{ contest.title }}</a>

                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="contentA">
                        <div class="label navbar bg-dark" style="margin-top:15px ;color: white ">Recent Contests</div>
                        <div class="content">
                            {% for contest in rec %}
                                {% if contest.isPublished %}
                                <a class="dropdown-item"
                                   href="{{ path("contest", {id: contest.id}) }}">{{ contest.title }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
