{% extends 'headerBase.html.twig' %}
{% block title %}Edit Contest {{ contest.id }}{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('contest') }}
{% endblock %}
{% block body %}
    <div class="container mt-2">
        <h1>Contest {{ contest.id }} </h1> <br>
        <h5>
            status:
            {% if contest.isPublished %}
                <span style="color: green">
                published
            </span>
            {% else %}
                <span style="color: red">
                unpublished
            </span>
            {% endif %}
        </h5>
        <table class="table table-hover" id="table">
            <tr class="table bg-dark" style="color: white">
                <th scope="row">#</th>
                <th scope="row">Name</th>
                <th scope="row"></th>
            </tr>
            {% for problem in problems %}
                <tr>
                    <td>
                        <a href="{{ path('problem', {'id':contest.id,'letter':problem.letter}) }}">
                            {{ problem.letter }}
                        </a>
                    </td>
                    <td>{{ problem.title }}</td>
                    <td class="d-flex" style="display:flex;flex-direction: column;align-items: flex-end;"><a href="{{ path('edit_problem',{'id':contest.id,'letter':problem.letter}) }}">
                            <button class="btn bg-dark text-white" style="width: 10vw;">edit</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <form method="post" action="{{ path('addProblem', {'id': contest.id}) }}">
            <button class="btn btn-dark" type="submit" name="add" value="ok">add a problem</button>
        </form>
    </div>
{% endblock %}
