{% extends 'headerBase.html.twig' %}

{% block title %}My Contests{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('mycontests') }}
{% endblock %}
{% block body %}
    <div class="container-lg container-fluid mt-2">

        {# unpublished contests #}
        <div class="row">
            <div class="col-10">
                <h1> Unpublished contests</h1>
                {% if unpublished is not null %}
                    <table class="table table-hover" id="table">
                        <tr class="table bg-dark" style="color: white">
                            <th scope="row">Title</th>
                            <th scope="row">Start Time</th>
                            <th scope="row">Duration</th>
                        </tr>
                        {% for contest in unpublished %}
                            <tr>
                                <td>
                                    <a href="{{ path("editContest", {id: contest.id}) }}">
                                        {{ contest.title }}
                                    </a>
                                </td>
                                <td>{{ contest.startDate | time_diff }}</td>
                                <td>{{ contest.duration|duration_helper }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <table class="table table-hover">
                        <tr class="table-info">
                            <th scope="row">0 unpublished contest were found</th>
                        </tr>
                    </table>
                {% endif %}
            </div>
            <div class="col-2 ">
                <h1 >
                    <a href="{{ path('create_contest') }}">
                        <button class="btn bg-info float-right" style="color: white;">create contest</button>
                    </a>
                </h1>
            </div>
        </div>
        {# published contests #}
        <div class="row">
            <div class="col-10">
                <h1> published contests</h1>
                {% if published is not null %}
                    <table class="table table-hover" id="table">
                        <tr class="table bg-dark" style="color: white">
                            <th scope="row">Title</th>
                            <th scope="row">Start Time</th>
                            <th scope="row">Duration</th>
                        </tr>
                        {% for contest in published %}
                            <tr>
                                <td>
                                    <a href="{{ path("contest", {id: contest.id}) }}">
                                        {{ contest.title }}
                                    </a>
                                </td>
                                <td>{{ contest.startDate|time_diff }}</td>
                                <td>{{ contest.duration|duration_helper }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <table class="table table-hover">
                        <tr class="table-info">
                            <th scope="row">0 published contests were found</th>
                        </tr>
                    </table>
                {% endif %}
            </div>
        </div>

        {# particiapations #}
        <div class="row">
            <div class="col-10">
                <h1> participations</h1>
                {% if participated is not null %}
                    <table class="table table-hover" id="table">
                        <tr class="table bg-dark" style="color: white">
                            <th scope="row">Title</th>
                            <th scope="row">Start Time</th>
                            <th scope="row">Duration</th>
                        </tr>
                        {% for contest in participated %}
                            <tr>
                                <td>
                                    <a href="{{ path("contest", {id: contest.id}) }}">
                                        {{ contest.title }}
                                    </a>
                                </td>
                                <td>{{ contest.startDate|time_diff }}</td>
                                <td>{{ contest.duration|duration_helper }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <table class="table table-hover">
                        <tr class="table-info">
                            <th scope="row">0 contests were found</th>
                        </tr>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
