{% extends 'headerBase.html.twig' %}
{% block title %}  Register {{ id }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('Timer') }}
{% endblock%}

{% block body %}
    <div class="container mt-5 mb-3 text-center align-content-center">
        <div class=" text-center" id="countdown" data-remaining-time="{{ wait }}">
            <h3> {{ contest.title }}</h3>
            <h2 class="headline">Time remaining before Contest</h2>
            <hr>
            <div id="countdown ">
                <ul class="row text-uppercase ">
                    <li class="col d-inline-block "><span id="days" class="d-block">xx</span>Days</li>
                    <li class="col d-inline-block "><span id="hours" class="d-block">xx</span>Hours</li>
                    <li class="col d-inline-block"><span id="minutes" class="d-block">xx</span>Minutes</li>
                    <li class="col d-inline-block"><span id="seconds" class="d-block">xx</span>Seconds</li>
                </ul>
            </div>
            <hr>
        </div>
        <span>The contest will start exactly on {{  contest.startDate|date("m/d/Y") }} at {{ contest.startTime|format_datetime('none','full',"hh:mm:ss") }} UTC +1  </span>

        {%  if registred   %}
            <div class="text-success">
                You are already registered for this contest<br>
                Try particing some problems to hone your skill until the contest starts!
            </div>
        {% else %}
            <a href="{{ path("contest_registration", {id: id}) }}"> <button class="btn btn-primary ">Register</button> </a>
        {% endif %}
    </div>

{% endblock %}
