{% extends 'problem/layout_index.html.twig' %}
{% block main %}
    <div class="problem-wrapper p-2">
        <h1>{{ problem.letter }}.{{ problem.title }}</h1>
        <section>
            <h3>statement:</h3>
            {{ problem.statement }}
        </section>
        <section>
            <h3>input:</h3>
            {{ problem.inputSpec }}
        </section>
        <section>
            <h3>output:</h3>
            {{ problem.outputSpec }}
        </section>
        {# <div class="container"> #}
        {% for sample in problem.sampleIn %}
            <div class="d-flex justify-content-between flex-wrap mt-3">
                <div class="col-md-5 examples input">
                    INPUT:
                    <button data-clipboard-target="#input1"
                            class="tocopy float-right"
                            data-toggle="popover"
                    >
                        <i alt="copy" class="fas fa-copy"></i>
                    </button>
                    <pre class="mt-1" id="input1">{{ sample.input }}</pre>
                </div>
                <div class="col-md-5 examples output mt-2 mt-md-0">
                    OUTPUT:
                    <button data-clipboard-target="#output1" class="tocopy float-right">
                        <i alt="copy" class="fas fa-copy"></i></button>
                    <pre class="mt-1" id="output1">{{ sample.output }}</pre>
                </div>
            </div>
        {% endfor %}
        {# </div> #}
    </div>
{% endblock %}