{% extends 'contestBase.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('problem') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('problem') }}
{% endblock %}

{% block title %}{{ problem.letter }} {{ problem.title }}{% endblock %}

{% block published %}
    {{ parent() }}
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {{ (show|default("problem") == "problem") ? "active bg-dark" : "" }}"
               href="{{ path('problem', {id: id, letter: problem.letter}) }}">
                Problem
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link {{ show|default("problem") == "submit" ? "active bg-dark" : "" }}"
               href="{{ path("submit", {id: id, letter: problem.letter}) }}">
                Submit
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ show|default("problem") == "solution" ? "active bg-dark" : "" }}
                {{  status.status =='running'? " disabled " :" "}}"
               href="{{ path("solution", {id: id, letter: problem.letter}) }}">
                Solution
            </a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="row mt-2">
        <main class="{{ (status.status =='running' or submissions is not empty ) ? "col-8" : "col-12" }}">
            {% block main %}
            {% endblock %}
        </main>
        {% if status.status =='running' or submissions is not empty  %}
        <aside class="col-4">
            {% if status.status =='running' %}
                {%  include 'Timer.html.twig' with {'headline1': '', 'headline2': '','remaining': status['remaining_time_before_end'] } %}
            {% endif %}

                {% if submissions is not empty %}
                <table class="table table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Submitted at</th>
                        <th>Verdict</th>
                    </tr>
                    </thead>
                    {% for submission in submissions|sort()|reverse %}
                        <tr>
                            <td>
                                {% if submission.status.code <= 2 %}
                                    <i class="fas fa-spinner fa-spin"></i>
                                {% elseif submission.status.code == 3 %}
                                    <i class="fas fa-check" style="color: #1fc61f;"></i>
                                {% else %}
                                    <i class="fas fa-exclamation" style="color: #b21313;"></i>
                                {% endif %}
                            </td>
                            <td>
                                {{ submission.createdAt|date("D/m/Y G:i:s") }}
                            </td>
                            <td>
                                <a href="#" data-toggle="modal" data-toggle="modal"
                                   data-target="#sub{{ submission.id }}">
                                    {{ submission.status.description }} </a>
                                {% include 'contests/submission_modal.html.twig' with {'submission': submission} %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}

            </aside>
        {% endif%}
    </div>
{% endblock %}
