{% extends 'headerBase.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('problem') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('problem') }}
{% endblock %}

{% block title %}{{ problem.letter }} {{ problem.title }}{% endblock %}
{% block body %}
    <div class="container mt-2">
        {% block published %}
        <nav class="nav nav-pills nav-justified">
            <a class="nav-item nav-link bg-dark text-white" href="{{ path('contest', {id: id}) }}">Problems</a>
            <a class="nav-item nav-link bg-dark text-white" href="{{ path('scoreboard', {id: id}) }}">Scoreboard</a>
            <a class="nav-item nav-link bg-dark text-white" href="#">submissions</a>
        </nav>
        <hr>
        {% endblock %}
        <main class="mt-2">
            {% block main %}
            {% endblock %}
        </main>
    </div>
{% endblock %}
