{% extends 'problem/layout.html.twig' %}
{%  block  title %}
        Submissions
{% endblock %}
{% block main %}
<h2> my Submissions </h2>
<table class="table table-hover text-center">
        <thead class="bg-primary text-white">
        <tr>
                <th scope="col">Submissions nbr:</th>
                <th scope="col">Problem</th>
                <th scope="col">Submitted At</th>
                <th scope="col">verdict</th>
        </tr>
        </thead>
        <tbody>
        {% for submission in submissions %}
                <tr>
                        <td>
                                {{ loop.revindex }}
                        </td>
                        <td>
                                {{ submission.problem.Letter }}
                        </td>
                        <td>
                                {{ submission.createdAt|date("D/m/Y G:i:s") }}
                        </td>
                        <td class="
                                {% if   submission.status.id < 3%} table-warning
                                {% elseif submission.status.id == 3 %} table-success
                                {% else %} table-danger {% endif %}">

                                <a href="#" data-toggle="modal" data-toggle="modal" data-target="#sub{{ submission.id }}"> {{ submission.status.description }} </a>
                                {% include 'problem/submission_modal.html.twig' with {'submission': submission} %}

                        </td>
                </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock %}
