{% extends 'headerBase.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('problem') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('problem') }}
{% endblock %}
{% block title %}{{ problem.letter }} {{ problem.title }}{% endblock %}
{% block body %}
<div class="container mt-2">
    <div class="row">
        <div class="col-9">
            <nav class="nav nav-pills nav-justified">
                <a class="nav-item nav-link bg-primary text-white" href="{{ path('problems') }}">Problems</a>
                <a class="nav-item nav-link bg-primary text-white" href="#">Scoreboard</a>
                <a class="nav-item nav-link bg-primary text-white" href="#">submissions</a>
            </nav>
            <hr>
            <div class="problem mt-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="/contest/{{ id }}/{{ problem.letter }}">Problem</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Solution</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-active" href="/contest/{{ id }}/{{ problem.letter }}/submit">Submit</a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <textarea  id="editor"></textarea>
    <div class="form-group">
        <div class="col-sm-5">
            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
            <button id="open" type="button" class="btn btn-primary">
                <i class="fas fa-folder-open"> </i>  Open
            </button>
        </div>
    </div>
    </div>
{% endblock%}
