<footer>
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a class="logo" href="{{ path('home') }}">INSAT&nbsp;<span class="logoCP">CP</span></a></h3>
            <p class="links"><a href="{{ path('home') }}">Home</a><strong> · </strong><a href="{{ path('problems') }}">ProblemSet</a><strong> ·
                </strong><a href="{{ path('contests') }}">Contests</a><strong> · </strong><a href="{{ path('courses') }}">Tutorial</a><strong> · </strong><a
                        href="#"></a>Tools</p>
            <p class="company-name">INSAT CP © 2021</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker-alt footer-contacts-icon"> </span>
                <p><span class="new-line-span">centre urbain nord</span> Tunis, Tunisia</p>
            </div>
            <div><i class="fa fa-phone-alt footer-contacts-icon"></i>
                <p class="footer-center-info email text-left"> +216 22 222 222</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p><a href="#" target="_blank">InsatCP@gmail.com</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h4>About this website</h4>
            <p> Insat-cp is the first ever tunisian website dedicated to competitive programming </p>
            <div class="social-links social-icons"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i
                            class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-linkedin-in"></i></a><a
                        href="#"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
</footer>
